{% load static %}
<div class="nav">
    <img class="learn" style="border-radius: 100%; height:130px;" src="{%static 'images\OIP.jpg'%}" alt="learn">
    <ul>
        <li><a href="http://127.0.0.1:8000/">Home</a></li>
        <li><a href="about">About US</a></li>
        <li><a href="Sign_Up">Sign up</a></li>
        <li><a href="http://127.0.0.1:8000/admin/login/?next=/admin/">Log In as admin</a></li>
        <li><a href="Log_in">Log In as User</a></li>
       <!-- <li><a href="http://127.0.0.1:8000/admin/logout/">Log out</a></li>  -->
        <li><span><a href="Log_in">logout</a></span></li>
    </ul>
    
  </div>
  
  