 <!--هنا السايد بار-->
 <div class="sidebar">
    <div class="gadget">
      <h2 class="star"><span>Sidebar</span> Menu</h2>
      <ul class="sb_menu">
        <li><a href="http://127.0.0.1:8000/admin/auth/user/">Update user details</a></li> 
        <li><a href="http://127.0.0.1:8000/admin/addbook/book/add">Add a Book</a></li>        <!--دي نقطه 5 و دي بيعملها ال ادمين -->
        <li><a href="http://127.0.0.1:8000/admin/addbook/book/">Update a Book details</a></li> <!--دي نقطه 6 و دي بيعملها ال ادمين -->
        <li><a href="books">Browsing Books</a></li>    <!--دي نقطه 7-->
        <li><a href="Search">search for a Book</a></li> <!--دي نقطه 8-->
        <!-- كده ناقص نقطه 9 ودي بتتعمل للكتاب نفسو -->
      </ul>
    </div>
</div>
